# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Logs
*.log

# VS Code local
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
